.navbar-position{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    z-index:1;

}
.aligh-button-top-right{
    position: absolute;
    top: 0;
    left:0;
    align-items: flex-start;
    padding: 5px;
}